/*
#################
## Global
#################
*/

@font-face {
    font-family: 'Slabo 27px';
    src: url(assets/Slabo27px-Regular.ttf);
}

html, body {
  margin:0;
  padding:0;
  height:100%;
}


/*
################
## Sidebar
################
*/

#sidebar {
  position:relative;
  float:left;
  height:100%;
  width:30%;
  margin:0;
  background-image:url(assets/noisy_net.png);
  background-repeat:repeat;
  -webkit-box-shadow: inset -6px 0px 3px 0px rgba(232,232,232,1);
}

#sidebar h3 {
  margin:10px;
  padding:0;
  font-family: 'Slabo 27px';
  font-size:27px;
  color:#e5e4e2;
}

#help-icon {
  height:auto;
  width:30px;
  position:absolute;
  bottom:10px;
  left:10px;
}

#settings-icon {
  height:auto;
  width:30px;
  position:absolute;
  bottom:10px;
  right:15px;
}

#settings-icon:hover {
  -webkit-animation:spin 100ms linear infinite;
}


/*
#################
## Menu
#################
*/

#menu {
  margin:0;
  padding:5px 5px 5px 2px;
  height:auto;
  width:100%;
}

/*
#################
## Main Content
#################
*/

#list-container {
  height:100%;
  margin:0;
}

#main {
  margin:0;
  padding:0;
  width:auto;
  height:100%;
  background-color:#e8e8e8;
  overflow:hidden;
}

#toDoInput {
  height:30px;
  width:500px;
  padding:0;
  margin:0 0 5px 0;
  font-family:'Slabo 27px';
  font-size:14px;
}

#toDoList {
  clear:right;
  margin:5px;
  padding-left:25px;
  list-style-type:none;
}

#toDoList li {
  margin:0 25px 0 0;
  border:0;
  border-bottom:1px;
  border-style:dotted;
  border-color:black;
  font-family:'Slabo 27px';
  font-size:16px;
}

#toDoList li:hover {
  color:#686868;
  border-color:#686868;
}

/*
###################
## Classes
###################
*/

.menu-icons {
  float:right;
  margin-right: 5px;
  height:25px;
  width:auto;
}

.rotate {
  -webkit-transition-duration: 0.8s;
  -webkit-transition-property: -webkit-transform;
  overflow:hidden;
}

.rotate:hover {
  -webkit-transform:rotate(90deg);
}